# Example environment variables
PORT=3001
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname
RESEND_API_KEY=your-resend-api-key
RESEND_FROM_EMAIL=your@email.com
ORDER_EMAIL=recipient@email.com
